<!-- templates/modals/modal_exames/exam_modal.html -->
<div class="modal fade" id="examModal" tabindex="-1" aria-labelledby="examModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Conteúdo das abas -->
        <div class="tab-header">
          <div class="active" onclick="showTab('to-do')">Exames a ser feito</div>
          <div onclick="showTab('done')">Exames concluídos</div>
        </div>
        <!-- Exames a ser feito -->
        <div id="to-do" class="tab-content">
          <div class="button-grid">
            <button onclick="moveToDone(this)">Dados Pessoais</button>
            <button onclick="moveToDone(this)">Histórico familiar</button>
            <button onclick="moveToDone(this)">Histórico da doença atual</button>
            <button onclick="moveToDone(this)">Sintomas e queixas</button>
            <button onclick="moveToDone(this)" data-bs-toggle="modal" data-bs-target="#pressaoArterialModal">Pressão arterial (PA)</button>
            <button onclick="moveToDone(this)" data-bs-toggle="modal" data-bs-target="#triglicerideosModal">Triglicerídeos</button>
            <button onclick="moveToDone(this)" data-bs-toggle="modal" data-bs-target="#lipoproteinasModal">Lipoproteínas plasmáticas</button>
            <button onclick="moveToDone(this)" data-bs-toggle="modal" data-bs-target="#glicemiaModal">Glicemia</button>
            <button onclick="moveToDone(this)" data-bs-toggle="modal" data-bs-target="#colesterolModal">Colesterol</button>
            <button onclick="moveToDone(this)" data-bs-toggle="modal" data-bs-target="#plasmaticosColesterolModal">Colesterol plasmáticos</button>
            <button onclick="moveToDone(this)">Questionário PAR-Q</button>
            <button onclick="moveToDone(this)">Questionário fatores de risco</button>
          </div>
        </div>
        <!-- Exames concluídos -->
        <div id="done" class="tab-content" style="display: none;">
          <div class="button-grid">
            <!-- Botões concluídos vão aparecer aqui -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include 'modals/modal_exames/triglicerideos_modal.html' with modal_id='triglicerideos' modal_title='Triglicerídeos' cadastro_id=cadastro_id %}
{% include 'modals/modal_exames/colesterol_modal.html' with modal_id='colesterol' modal_title='Colesterol' %}
{% include 'modals/modal_exames/glicemia_modal.html' with modal_id='glicemia' modal_title='Glicemia' %}
{% include 'modals/modal_exames/lipoproteinas_modal.html' with modal_id='lipoproteinas' modal_title='Lipoproteínas' %}
{% include 'modals/modal_exames/plasmatico_modal.html' with modal_id='plasmatico' modal_title='Lásmatico' %}
{% include 'modals/modal_exames/pressao_modal.html' with modal_id='pressao' modal_title='Pressão Arterial' %}


<style>
    /* Estilo do contêiner com aba */
    .container-custom {
      width: 300px;
      height: 500px;
      background-color: #5FB5B2;
      
      border-radius: 10px;
      position: relative;
      padding-top: 30px;
      margin-top: 20px;
    }

    /* Estilo da aba */
    .tab-custom {
      position: absolute;
      top: -20px;
      left: 10px;
      background-color: #75b6b1;
      color: #e0e0e0;
      padding: 5px 15px;
      border-radius: 10px 10px 0 0;
      font-size: 14px;
    }

    /* Estilo do item dentro da div */
    .item-custom {
      background-color: #11A9AD;
      color: #ffffff;
      border-radius: 10px;
      padding: 8px 12px;
      font-size: 14px;
      width: fit-content;
      margin-left: 10px;
      margin-top: 15px;
    }

    .tab-custom {
      background-color: #5FB5B2;
      color: #ffffff;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    .container-custom .button-grid {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px; /* Espaço entre os botões */
    }

    .container-custom .button-grid button {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
      background-color: #11A9AD;
      border-radius: 10px;
      transition: background-color 0.3s;
    }

    .container-custom .button-grid button:hover {
      background-color: #0d8f8f;
    }
    

    .button-grid button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
      background-color: #11A9AD;
      border-radius: 10px;
      transition: background-color 0.3s;
    }

    .button-grid button:hover {
      background-color: #0d8f8f;
    }
    .tab-header {
      display: flex;
      justify-content: center;
      font-weight: bold;
      background-color: #005f60;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: white;
    }

    .tab-header div {
      padding: 10px 20px;
      cursor: pointer;
      flex: 1;
      text-align: center;
    }

    .tab-header .active {
      background-color: #5FB5B2;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .tab-content {
      background-color: #5FB5B2;
      padding: 20px;
      color: #ffffff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .button-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-top: 10px;
    }

    .button-grid button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
      background-color: #11A9AD;
      border-radius: 10px;
      border: none;
      transition: background-color 0.3s;
    }

    .button-grid button:hover {
      background-color: #0d8f8f;
    }

    /* Remover fundo e sombra do modal */
    .modal-content {
      background-color: transparent; 
      box-shadow: none;
      border: none;
    }
    .modal-content {
    background-color: #0000000c; 
    border: none;
    border-radius: 15px;
}
    
</style>


<script>
  function showTab(tab) {
    document.getElementById('to-do').style.display = (tab === 'to-do') ? 'block' : 'none';
    document.getElementById('done').style.display = (tab === 'done') ? 'block' : 'none';
    document.querySelectorAll('.tab-header div').forEach(el => el.classList.remove('active'));
    document.querySelector(`.tab-header div[onclick="showTab('${tab}')"]`).classList.add('active');
  }

  function moveToDone(button) {
    // Remove o botão da lista de "Exames a ser feito"
    button.parentNode.removeChild(button);
    
    // Adiciona o botão na lista de "Exames concluídos"
    document.querySelector('#done .button-grid').appendChild(button);
  }
  document.addEventListener('hidden.bs.modal', function () {
    // Remove backdrop residual quando um modal é fechado
    const backdropElements = document.querySelectorAll('.modal-backdrop');
    backdropElements.forEach(backdrop => backdrop.remove());
});

document.addEventListener('show.bs.modal', function () {
    // Remove qualquer backdrop residual ao abrir um novo modal
    const backdropElements = document.querySelectorAll('.modal-backdrop');
    backdropElements.forEach(backdrop => backdrop.remove());
});
</script>