{% load static %}

<div class="modal fade" id="contactModal" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4" id="modal2" style="background-color: #004D4D; border: none; border-radius: 15px;">
  
 
        <div class="text-center mb-3">
          <img src="{% static 'img/userP.png' %}" alt="Usuário" class="icon">
        </div>
  

        <h2 class="text-white text-center mb-4">Login</h2>
        <form class="d-flex flex-column align-items-center" action="{% url 'login2' %}" method="post">{% csrf_token %}
          

          <div class="form-group mb-3 w-75">
            <label for="nome_usuario" class="form-label text-white">Usuário</label>
            <input type="text" id="username" name="nome_usuario" class="form-control" style="background-color: #E5E5E5; border: none; height: 45px; border-radius: 5px;">
          </div>

          <div class="form-group mb-4 w-75">
            <label for="senha" class="form-label text-white">Senha</label>
            <input type="password" id="password" name="senha" class="form-control" style="background-color: #E5E5E5; border: none; height: 45px; border-radius: 5px;">
          </div>
  

          <button type="submit" class="btn text-white mb-3" style="background-color: #F5A623; width: 75%; height: 45px; border-radius: 5px;">Login</button>
  

          <p class="text-white text-center" style="font-size: 0.9rem;">
            Não tem login? <a href="#" class="text-white" style="text-decoration: underline;" data-bs-toggle="modal" data-bs-target="#cadastroModal" data-bs-dismiss="modal" >faça seu cadastro</a>
          </p>
        </form>
      </div>
    </div>
  </div>

  {% include 'modals/cadastro_modal.html' %}
<style>
    
#modal2 {
  background-color: #004D4D;
  border: none;
  border-radius: 15px;
}

.modal-content .form-control {
  background-color: #E5E5E5;
  border: none;
  height: 45px;
  border-radius: 5px;
}

.modal-content .btn {
  background-color: #F5A623;
  color: white;
  width: 75%;
  height: 45px;
  border-radius: 5px;
}

.modal-content .text-white a {
  text-decoration: underline;
}
.user-icon {
        background-color: #0D5959;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: -50px auto 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-icon .icon {
        width: 170px;
        height: 140px;
        margin-bottom: 100px;
        
    }

</style>