{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <title>Exames</title>
  <link rel="icon" href="{% static 'img/logo12 1.svg'%}">
</head>

<body style="background-color: #0D5959;font-family: Times new Roman;">
  <header class="cabecalho-dados-pessoais">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="height: 110%;">
      <div class="container-fluid" style="background-color: #ecf0f1; height: 130%;">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/logo12 1.svg'%}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 40%; font-family: Times new Roman;">
            <li class="nav-item" style="padding-right: 25%;">
              <a class="btn d-flex flex-column ps-0 text-laranja" style="background-color: transparent;"
                href="./">Início</a>
            </li>
            <li class="nav-item" style="padding-right: 25%;">
              <a class="btn d-flex flex-column ps-0 text-laranja" style="background-color: transparent;"
                href="./">Exames</a>
            </li>
            <li class="nav-item" style="padding-right: 25%;">
              <a class="btn d-flex flex-column ps-0 text-laranja" style="background-color: transparent;"
                href="./ficha">Ficha</a>
            </li>
            <li class="nav-item" style="padding-right: 25%;">
              <button type="button" class="btn d-flex flex-column ps-0 text-laranja"
                style="background-color: transparent;" data-bs-toggle="modal" data-bs-target="#contactModal">
                Login

              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="container-fluid vw-100 d-flex justify-content-center align-items-center">
    <section class="container justify-content-center " style="background-color: #0D5959; margin-top: 3%;">
      <div style="margin-left: 43%; margin-bottom: -5%;">
        <img src="{% static 'img/testt.PNG'%}" alt="">
      </div>

      <form action="{% url 'inserir_cadastro'%}" method="post"
        class="col-10 d-flex w-100 p-5 justify-content-center align-items-center flex-column mt-5 mx-5">
        {% csrf_token %}
        <h1 class="text-white">Cadastro</h1>
        <div class="input-group justify-content-end my-4" >
          <label for="" class="form-label text-white fs-3 fw-semibold me-2">Nome de <br> Usuário</label>
          <input type="text" name="Nome_user" id="" class="form-control nome">
        </div>

        <div class="input-group justify-content-end mb-5">
          <label for="" class="form-label text-white fs-3 fw-semibold ms-0 me-2 cpf">CPF</label>
          <input type="number" name="CPF" id="" class="form-control cpf">
        </div>

        <div class="input-group justify-content-end mb-5">
          <label for="" class="form-label text-white fs-3 fw-semibold me-2 email">E-mail</label>
          <input type="email" name="email" id="" class="form-control email">
        </div>

        <div class="input-group justify-content-end mb-5">
          <label for="" class="form-label text-white fs-3 fw-semibold me-2 senha d-block">Senha</label>
          <input type="password" name="senha" id="" class="form-control senha">
        </div>

        <div class="d-flex flex-column">
          <button
            class="btn btn-lg btn-warning btn-proximo p-3 fs-3 fw-semibold text-white">Cadastrar</button>
          <a href="./login.html" class="text-white text-decoration-none fs-3 mt-3">Já possui conta? Faça login! </a>
        </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>