{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <title>Ficha</title>
  <link rel="icon" href="./img/logo12 1.svg">
</head>
<body id="ficha">
  <header class="mb-5 header-apresentacao">
    <nav class="navbar navbar-expand-lg bg-body-tertiary nav-apresentacao" style="background: rgba(0, 0, 0, 0.40) !important;">

      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/logo12 1.svg'%}" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 40%; font-family: Times new Roman; background-color: transparent;" >
            <li class="nav-item" style="padding-right: 25%;">
              <a class="btn d-flex flex-column ps-0 text-laranja"   href="{% url 'anamnese:index_usuario' cadastro_id=cadastro_id %}">Início</a>
            </li>
            <li class="nav-item"style="padding-right: 25%;">
              <a class="btn d-flex flex-column ps-0 text-laranja"  href="#" data-bs-toggle="modal" data-bs-target="#examModal">Exames</a>
            </li>
            <li class="nav-item" style="padding-right: 25%;"> {% csrf_token %}
              {% if request.user.is_authenticated %}
                <button type="button" class="btn d-flex flex-column ps-0 text-laranja" style="background-color: transparent;" data-bs-toggle="modal" data-bs-target="#customModal" data-cadastro-id="{{ cadastro.id }}">
                {{ request.user.username |slice:":6"}} </button>
                
                  
              {% else %}
                <button type="button" class="btn d-flex flex-column ps-0 text-laranja" style="background-color: transparent;" data-bs-toggle="modal" data-bs-target="#contactModal">
                  Login </button>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="container-fluid container-md h-100">
    <section class="row folha-1 p-5 mt-5 bg-white">
  
      <div class="d-flex align-items-end cabecalho-folha">
        <img src="./img/logo12 1.svg" alt="">
        <h1 class="">Ficha de Anamnese</h1>
      </div>
  
      <div class="d-flex justify-content-between fw-bold">
        <h2 class="text-azul fs-1 fw-semibold">Dados pessoais</h2>
        <span class="fs-3">DATA: ___/___/___</span>
      </div>
  
      <!-- Exibindo dados da ficha -->
      
      <div class="d-flex p-3 mt-4 bg-cinza">
        <h3 class="fw-bold">Nome: {{ ficha.usuario.nome_usuario }}</h3>
        <h3 class="fw-bold m-auto">Idade: {{ ficha.idade }}</h3> <!-- Se você tem idade, senão substitua com a data de nascimento -->
      </div>
  
      <div class="d-flex p-3 mt-3 bg-cinza">
        <h3 class="fw-bold">Endereço: {{ ficha.endereco }}</h3>
        <h3 class="fw-bold m-auto">CEP: {{ ficha.cep }}</h3>
      </div>
  
      <div class="d-flex p-3 mt-3 bg-cinza">
        <h3 class="fw-bold">Cidade: {{ ficha.cidade }}</h3>
        <h3 class="fw-bold m-auto">Bairro: {{ ficha.bairro }}</h3>
        <h3 class="fw-bold m-auto">Estado: {{ ficha.estado }}</h3>
      </div>
  
      <div class="d-flex p-3 mt-3 bg-cinza">
        <h3 class="fw-bold">Data de Nasc: {{ ficha.data_nascimento }}</h3>
        <h3 class="fw-bold m-auto">Profissão: {{ ficha.profissao }}</h3>
        <h3 class="fw-bold m-auto">Estado Civil: {{ ficha.estado_civil }}</h3>
      </div>
  
      <div class="d-flex p-3 mt-4 bg-cinza">
        <h3 class="fw-bold">E-mail: {{ ficha.usuario.email }}</h3> <!-- Acessando o email do cadastro -->
        <h3 class="fw-bold m-auto">Tel: {{ ficha.usuario.telefone }}</h3> <!-- Acessando o telefone do cadastro (se existir) -->
      </div>
      
    </section>

    <section class="row justify-content-between bg-white p-5 mt-2">
      <h1 class="text-azul fs-1 fw-semibold mb-4">Ficha de Exames</h1>

      <div class="col-4">
        <h2 class="fw-semibold fs-3">Niveis de Pressão Arterial (PA)</h2>
      
        <h2 class="fw-semibold fs-3">Níveis de  Plasmáticos de Colesterol:</h2>

        <h2 class="fw-semibold fs-3">Níveis de Glicemia: </h2>

        <h2 class="fw-semibold fs-3">Níveis de Triglicerídeos:</h2>

        <h2 class="fw-semibold fs-3">Relação entre colesterol total e Colesterol HDL:</h2>

        <h2 class="fw-semibold fs-3">Níveis de lipoproteínas: </h2>

        <h2 class="fw-semibold fs-3">Álcool:</h2>
        
        <h2 class="fw-semibold fs-3">Fuma:</h2>

        <h2 class="fw-semibold fs-3">Média de tempo que dorme:</h2>
      </div>

      <div class="col-4">

        <div class="d-flex justify-content-start mb-4">
          <span class="px-5 py-3 fw-bold "></span>
          <h3 class="fw-semibold">{{ ficha.nivel_pressão_arterial }} mmHg</h3>
        </div>

        <div class="d-flex justify-content-start mb-4">
          <span class="px-5 py-3 fw-bold "></span>
          <h3 class="fw-semibold">{{ ficha.nivel_colesterol }} mg/dl</h3>
        </div>
        
        <div class="d-flex justify-content-start mb-2">
          <span class="px-5 py-3 fw-bold "></span>
          <h3 class="fw-semibold">{{ ficha.nivel_glicemia }} mg/d</h3>
        </div>

        <div class="d-flex justify-content-start mb-2">
          <span class="px-5 py-3 fw-bold "></span>
          <h3 class="fw-semibold">{{ ficha.nivel_triglicerideos }} mg/dl</h3>
        </div>

        <div class="d-flex justify-content-start mb-2">
          <span class="px-5 py-3 fw-bold "></span>
          <h3 class="fw-semibold">{{ ficha.nivel_plasmaticos_colesterol }} CT/HDL-C</h3>
        </div>

        <div class="d-flex justify-content-start mb-2">
          <span class="px-5 py-3 fw-bold "></span>
          <h3 class="fw-semibold">{{ ficha.nivel_lipoproteinas_plasmaticos }} LDL</h3>
        </div>

        <div class="d-flex justify-content-start mb-2">
          <span class="px-5 py-3 fw-bold ">{{ ficha.alcool}}</span>
        </div>

        <div class="d-flex justify-content-start mb-2">
          <span class="px-5 py-3 fw-bold ">{{ ficha.fuma }}</span>
        </div>

        <div class="d-flex justify-content-start mb-5">
          <span class="px-5 py-3 fw-bold "></span>
          <h3 class="fw-semibold">{{ ficha.tempo_medio_sono }} Horas</h3>
        </div>
      </div>

      <h3 class="fw-semibold">Há alguma doença familiar?</h3>
      <div class="w-100 p-5 mb-5 " style="font-size: 20px;">{{ ficha.doencas_familiares }}</div>

      <h3 class="fw-semibold">Relate sobre a doença atual</h3>
      <div class="w-100 p-5 mb-5 " style="font-size: 20px;">{{ ficha.doencas_atual }}</div>

      <h3 class="fw-semibold">Remedios ou outros fatores a serem adicionados</h3>
      <div class="w-100 p-5 mb-5 " style="font-size: 20px;">{{ ficha.remedios }}</div>

    </section>

    <section class="row folha-3 p-5 mt-2 bg-white">
      <h3 class="fw-semibold mt-5">Há a necessidade de presença médica durante a prática de exercícios físicos?</h3>
      <div class="w-100 p-5 mb-5 borda-preta" ></div>

      <h3 class="fw-semibold">Resultado do questionário PAR-Q:</h3>
      <p class="fs-4 mb-5">Esse questionário Physical Activity Readiness (PAR-Q), ou Liberação para Atividades Fisicas (LAF-Q), tem como objetivo determinar a necessidade de consulta medica antes do inicio de programas de atividades  físicas ou testes de aptidão física. O questionário consiste em sete perguntas, se o cliente responder “sim “ a qualquer uma delas, devera ser encaminhado para consulta medica.</p>

      <div class="w-100 p-1 mb-5 borda-preta" >
        <p class="fs-4 fw-normal text-center">O usuário marcou “sim” para as alternativas [], então ele necessitará de acompanhamento médico.</p>
        <p class="fs-4 fw-normal text-center">1. Alguma vez foi mencionado que você tem algum problema cardíaco ou que só poderia fazer atividade física com recomendação médica?</p>
      </div>

      <div class="w-100 p-1 mb-5 borda-preta">
        <p class="fs-4 fw-normal text-center">O usuário marcou "não" para todas as alternativas, logo, ele não se faz necessário a utilização de acompanhamento médico para a realização de testes de aptidão física.</p>
      </div>

      <h3 class="fw-semibold mb-3">Classificação de risco coronario:</h3>
      <p class="fs-4 lh-lg">De acordo com o resultado de todos os exames realizados pelo usuário, o nível de risco em que ele se encontra,  é:  <span class="fw-semibold p-1" style="border: 4px solid #000">Baixo risco</span>     <span class="fw-semibold p-1" style="border: 4px solid #000">Risco moderado</span>      <span class="fw-semibold p-1" style="border: 4px solid #000">Alto risco</span></p>
    </section>

    <section class="row p-5 termo-responsabilidade bg-light">
      <h4 class="fw-bold fs-1 text-center pt-5 mb-5">Termo de responsabilidade</h4>
      <h5 class="fw-bold fs-2 text-center pt-5 mb-5">Estou ciente e de acordo com todas as informações acima relacionadas.</h5>

      <div class="d-flex justify-content-between my-5">
        <h6 class="fs-2 fw-bold pt-4 my-5 text-center borda-cima w-40">Assinatura do Cliente</h6>
        <h6 class="fs-2 fw-bold pt-4 my-5 text-center borda-cima w-40">Assinatura do Profissional</h6>
      </div>
    </section>
    


  </main>
  {% include 'modals/exam_modal.html' %}
  {% include 'modals/login_modal.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>