{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <title>Sintomas e queixas</title>
  <link rel="icon" href="{% static 'img/logo12 1.svg'%}">
</head>
<body>
  <header class="cabecalho-dados-pessoais">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/logo12 1.svg'%}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 40%; font-family: Times new Roman;" >
            <li class="nav-item" style="padding-right: 25%;">
              <a class="btn d-flex flex-column ps-0 text-laranja" style="background-color: transparent;" href="{% url 'index_usuario' cadastro_id=cadastro_id %}" >Início</a>
            </li>
            <li class="nav-item"style="padding-right: 25%;">
              <a class="btn d-flex flex-column ps-0 text-laranja" style="background-color: transparent;" href="./">Exames</a>
            </li>
            <li class="nav-item"style="padding-right: 25%;">
              <a class="btn d-flex flex-column ps-0 text-laranja" style="background-color: transparent;" href="./ficha">Ficha</a>
            </li>
            <li class="nav-item" style="padding-right: 25%;">
              <button type="button" class="btn d-flex flex-column ps-0 text-laranja" style="background-color: transparent;" data-bs-toggle="modal" data-bs-target="#contactModal">
                Login
                
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="container-fluid h-100" >

    <section class="row justify-content-center py-5 dados-identificacao" style="background-color: #5FB5B2;font-family: Times new Roman;">

      <div class="col-10 col-lg-5 my-5 d-flex justify-content-center">
        <div class="d-flex justify-content-center align-items-center" style="border: 4px solid #fff; width: 22.875rem; height: 21.375rem; margin-left: -30%;">
          <img src="{% static 'img/smartphone-nfc.svg'%}" alt="" style="width: 16.5rem; height: 14.4375rem; ">
        </div>
      </div>

      <div class="col-10 col-lg-5 my-5 px-md-5 text-white" style="margin-left: -10%;">
        <h1 class="mb-5" style="margin-left: 20px; font-size: 45px;">Sintomas e queixas </h1>
        <p class="mt-3" style="text-align: justify; font-size: 25px; ">
            O paciente pode relatar o que está sentindo. As dores, sensações e quaisquer outros incômodos serão anotados pelo médico.  É aqui que aqueles métodos da “entrevista” são utilizados. Essa etapa serve para que o médico já comece a levantar hipóteses para o diagnóstico. Além disso, auxilia para que ele acompanhe a evolução do tratamento proposto.
            Por exemplo, se o paciente é hipertenso e/ou diabético, se faz uso de algum medicamento de uso continuado, como o anticoncepcional ou antidepressivos. Como também se ele possui algum hábito (fumar, álcool, sono, hábitos alimentares).
        </p>
      </div>

    </section>

    <section class="row justify-content-between justify-content-lg-around p-5" style="background-color: #5FB5B2; font-family: Times new Roman;">
      <div class="col-12 col-sm-10 col-lg-10">
        <div class="input-groups">
          <input type="text" name="Remédios" id="Remédios" class="form-control mb-3" placeholder="Remédios entre outros:">
          
        </div>
      </div>
      <div class="col-12 col-sm-10 col-lg-5" style="margin-right: 41.7%;">
        <div class="input-groups d-flex flex-column flex-lg-row justify-content-between align-items-center">
          <select class="form-control mt-3 mb-lg-0" name="sexo" id="sexo" style="margin-right:10% ;">
            <option value="">Fuma:</option>
            <option value="muito">Sim, muito</option>
            <option value="pouco">Sim, pouco</option>
            <option value="nao ">Não </option>
          </select>
          <select class="form-control mt-3 mb-lg-0" name="álcool" id="álcool"style="margin-right:10% ;">
            <option value="">Consome álcool:</option>
            <option value="muito">Sim, muito</option>
            <option value="moderado">Sim, moderado</option>
            <option value="Raramente">Sim, Raramente</option>
            <option value="Não">Não</option>
          </select>
          <input type="number" name="Sono" id="Dormir" placeholder="Horas de sono" class="form-control mt-3">
        </div>
      </div>
    </section>

    <section class="row py-5 justify-content-center" style="background-color: #d9d9d9;font-family: Times new Roman;">
      <div class="col-12 p-5 d-flex justify-content-center justify-content-lg-around my-5">
        <div class="d-flex flex-column align-items-center p-5 text-white" style="background-color: #41B6B6;">
          <img src="{% static 'img/user (1).svg'%}" class="mt-3" style="width: 5.6875rem; height: 5.0625rem;margin-bottom: -10%;" alt="">
          <h3 class="mt-5" style="width: 270px; text-align: center;"  >Dados<br> pessoais de<br> identificação</h3>
          <a href="./dados" class="btn btn-lg btn-danger mt-5" style="background-color: #ED931F !important; border: #ED931F;">Saiba mais</a>
        </div>
  
        <div class="d-flex flex-column align-items-center p-5 text-white" style="background-color: #36B6B6;">
          <img src="{% static 'img/users.svg'%}" class="mt-3" style="width: 5.6875rem; height: 5.0625rem;" alt="">
          <h3 class="mt-5" style="width: 270px; text-align: center;">Histórico familiar</h3>
          <a href="./familiar" class="btn btn-lg btn-danger mt-5" style="background-color: #ED931F !important; border: #ED931F;">Saiba mais</a>
        </div>

        <div class="d-flex flex-column align-items-center p-5 text-white" style="background-color: #11A9AD;">
          <img src="{% static 'img/list.svg'%}" class="mt-3" style="width: 5.6875rem; height: 5.0625rem;" alt="">
          <h3 class="mt-5" style="width: 270px; text-align: center;">Historico da<br> Doença Atual</h3>
          <a href="./doenças" class="btn btn-lg btn-danger mt-5" style="background-color: #ED931F !important; border: #ED931F;">Saiba mais</a>
        </div>
      </div>
    </section>

    <div class="modal fade p-0" id="contactModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered justify-content-center">
          <div class="modal-content d-flex align-items-center justify-content-center w-100 w-lg-100 h-75">
              <section class="row form d-flex justify-content-center position-relative w-100 h-75" style="background-color: #0D5959;">
                <div class="img d-none d-lg-flex">
                  <img src="{% static 'img/user (1).svg'%}" alt="">
                </div>
            
                <form action="" method="post" class="col-10 d-flex w-100  justify-content-start align-items-center flex-column p-4 p-lg-5 p-md-5 p-lg-3 mt-5 mx-5 h-75">
                  <h1 class="text-white mt-3">Login</h1>
                  <div class="input-group d-flex flex-column  justify-content-end my-3 my-lg-3">
                    <label for="" class="form-label text-white fs-3 fw-semibold me-2">Usuário</label>
                    <input type="text" name="" id="" class="form-control nome w-100">
                  </div>
            
                  <div class="input-group d-flex flex-column  justify-content-end my-3 my-lg-3">
                    <label for="" class="form-label text-white fs-3 fw-semibold ms-0 me-4">Senha</label>
                    <input type="text" name="" id="" class="form-control cpf w-100">
                  </div>
          
                  <div class="d-flex flex-column">
                    <a href="./" class="btn btn-lg btn-warning btn-proximo p-3 fs-3 fw-semibold text-white">Login</a>
                    
                  </div>
          
                </form>
              </section>
          </div>        
        </div>
      </div>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>